##### This is first topic in python
- In this notebook we will learn about python basic

In [ ]:
## Basic Syntax - single line comment

'''
this is a 
multi-line comment
example 
in python  
'''

In [5]:
first_name = "Deepak"
last_name = "Kumar"

In [6]:
first_name

'Deepak'

In [8]:
type(first_name)

str

In [7]:
print(first_name)

Deepak

In [1]:
age = 25
type(age)

int

In [2]:
height = 5.11
type(height)

float

In [3]:
is_check = True
type(is_check)

bool

In [4]:
height

5.11

In [ ]:
##Type casting
int(height)

5

In [6]:
type(str(height))

str

In [7]:
int("1")

1

In [8]:
int("deepak")  # This will raise an error

ValueError: invalid literal for int() with base 10: 'deepak'

In [10]:
var = 10 # integer
print(var, type(var),float(var))

var = "Hello" # string
print(var, type(var),str("Hello"))

var = 10.5 # float
print(var, type(var),int(var))

10 <class 'int'> 10.0
Hello <class 'str'> Hello
10.5 <class 'float'> 10

In [11]:
## Input

val = input("Please provide the value")
print(val)

hii my name is deepak

In [13]:
val = int(input("Please provide the value"))
print(val)

32

In [14]:
### Simple calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 59.7
Difference: 8.3
Product: 873.8
Quotient: 1.3229571984435797